{% extends "mainpage/base.html" %}
{% load crispy_forms_tags %}
{% block cont %}
{% load bootstrap4 %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
{% endblock cont %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Замовлення</legend>
                {% bootstrap_form form %}
            </fieldset>
            <div>
                <button class="btn btn-outline-info" type="submit">Зберегти</button>
            </div>
        </form>
    </div>
{% endblock content %}