body{
    transform-style: preserve-3d;
	transform: perspective(100%);
}
.containerPhoto{
    padding: 0;
    margin: 0;
    display: block;
background-image : url(./car.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
height: 80vh;
z-index: -1;
}
.text-in-the-image{
    height: 100%;
}
.text-in-the-image > div >h3{
    color: #505050;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #e4324c, 0 0 30px #e4324c, 0 0 40px #e4324c, 0 0 55px #e4324c, 0 0 75px #e4324c, 2px -36px 2px rgba(206,46,62,0);
    height: 100%;
    text-align: center;
vertical-align: middle;
transform: translateY(+25%); 
}
.ramka{
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: 5px solid white;
    border-radius: 15px;
    margin: 10px;
    box-shadow:  2px 2px 5px gray;
}

p>a{
    display: none;
}
#result_11{
   
    color: aliceblue;
    text-shadow: 2px 2px 5px red;
}
#container-in-ramka{
    height: 100%;
}
div>h4{
    margin-top: 20px;
    text-align: center;
    color: #656060;
}
.separator{
    margin : 4% auto;
    width: 10%;
    height: 2px;
    background-color: lightgray;
}
p{
    font-size: 1em;
    color: #656060;
    margin: 0% auto;
    text-align: center;
}
.service-icons{
    text-align: center;
    transition: color 0.25s ease, max-height 2s ease;
color: gray;
margin-bottom: 2%;
}
.service-icons:hover{
    color: #e4324c;
}
.service-singnature{
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s; 
}
.service-text{
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s; 
}
p{
    font-size: 0.9em !important;
}
#service-name{
    text-align: center;
    color: #505050;
}
.slogan{
    font-size: 1.2em !important;
    margin: 4%auto;
}
#why-us-container{
    color: #656060;
    width: 100%;
    height: 50vh;
}
#why-us-delimeter{
    height: 40vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    /*border-left: 6px solid lightgrey;*/
}
#why-us-left{
    position: absolute;
    width: 100%;
    margin: -5% 0 0 -35%;
    top: 50%;
    left: 50%;
}
#why-us-right{
    color: #505050;
    font-size: 2em;
    position: absolute;
    width: 100%;
    margin: -20% 0 0 -50%;
    top: 50%;
    left: 50%;
}
.divider-cols{
    height: 100%;
}
#vert-div-right{
    border-left: 2px solid lightgrey;
}
#vert-div-left{
    border-right: 2px solid lightgrey;
}
.text-impressive{
    display: inline;
    letter-spacing: 0.15em;
    font-style: oblique;
}
#contact-us-header{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.break{
    width: 100%;
    height: 1px;
}
.explain{
    width: 100%;
}

#contact-us-button{
    text-align: center;
}
body {
   
    font-family: 'PT Sans', sans-serif;
  }
  
  .underlined-a {
    text-decoration: none;
    color: aqua;
    padding-bottom: 0.15em;
    box-sizing: border-box;
    box-shadow: inset 0 -0.2em 0 aqua;
    transition: 0.2s;
  }
  .underlined-a:hover {
      color: #222;
      box-shadow: inset 0 -2em 0 aqua;
      transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    }
  
  
  .brk-btn {
      text-decoration: none;
    position: relative;
    background: none;
    color: #e4324c;
    text-transform: uppercase;
    text-decoration: none;
    border: 0.2em solid #e4324c;
    padding: 0.5em 1em;
  }
  .brk-btn::before {
      content: "";
      display: block;
      position: absolute;
      width: 10%;
      background: lightgray;
      height: 0.3em;
      right: 20%;
      top: -0.21em;
      transform: skewX(-45deg);
      -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
      transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    }
    .brk-btn::after {
      content: "";
      display: block;
      position: absolute;
      width: 10%;
      background: lightgray;
      height: 0.3em;
      left: 20%;
      bottom: -0.25em;
      transform: skewX(45deg);
      -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
      transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    }
        .brk-btn:hover::before {
        right: 80%;
      }
      .brk-btn:hover::after {
        left: 80%;
      }
      .brk-btn:hover{
          text-decoration: none;
          color: #e4324c;
      }
.container-explain{
    width: 100%;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0.7), rgba(255,0,0,0));
}  
  



.section1{
    margin-bottom: 3%;
}



  .content {
    font-size: 1.5em;
    padding: 0px 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }
.page-content{
	padding-top: 40px;
}
